service/ManageService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.dbo.so/ManageService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManageService" targetNamespace="http://soap.dbo.so/ManageService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://soap.dbo.so/ManageService/">
      <xsd:element name="Auth"  >
        <xsd:complexType >
          <xsd:sequence>
          	<xsd:element name="user" type="xsd:string"  maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AuthResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSysLogList">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="data" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSysLogListResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="return" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DelSysLog">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="data" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DelSysLogResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="return" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSysLog">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="data" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSysLogResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="return" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      		<xsd:element name="GetClientLogList">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="data" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="GetClientLogListResponse">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="return" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="DelClientLog">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="data" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="DelClientLogResponse">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="return" type="xsd:string" maxOccurs="1" minOccurs="1"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="GetClientLog">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="data" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="GetClientLogResponse">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="return" type="xsd:string" maxOccurs="1" minOccurs="1"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      
		      		<xsd:element name="GetURLList">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="data" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="GetURLListResponse">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="return" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="DelURL">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="data" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="DelURLResponse">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="return" type="xsd:string" maxOccurs="1" minOccurs="1"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="GetURL">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="data" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
		      <xsd:element name="GetURLResponse">
		      	<xsd:complexType>
		      		<xsd:sequence>
		      			<xsd:element name="return" type="xsd:string" maxOccurs="1" minOccurs="1"/>
		      		</xsd:sequence>
		      	</xsd:complexType>
		      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetSysLogListRequest">
  	<wsdl:part name="parameters" element="tns:GetSysLogList"/>
  </wsdl:message>
  <wsdl:message name="GetSysLogListResponse">
  	<wsdl:part name="parameters" element="tns:GetSysLogListResponse"/>
  </wsdl:message>
  <wsdl:message name="DelSysLogRequest">
  	<wsdl:part name="parameters" element="tns:DelSysLog"/>
  </wsdl:message>
  <wsdl:message name="DelSysLogResponse">
  	<wsdl:part name="parameters" element="tns:DelSysLogResponse"/>
  </wsdl:message>

  <wsdl:message name="GetSysLogRequest">
  	<wsdl:part name="parameters" element="tns:GetSysLog"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSysLogResponse">
  	<wsdl:part name="parameters" element="tns:GetSysLogResponse"></wsdl:part>
  </wsdl:message>
  
  		<wsdl:message name="GetURLListRequest">
		  	<wsdl:part name="parameters" element="tns:GetURLList"/>
		  </wsdl:message>
		  <wsdl:message name="GetURLListResponse">
		  	<wsdl:part name="parameters" element="tns:GetURLListResponse"/>
		  </wsdl:message>
		  <wsdl:message name="DelURLRequest">
		  	<wsdl:part name="parameters" element="tns:DelURL"/>
		  </wsdl:message>
		  <wsdl:message name="DelURLResponse">
		  	<wsdl:part name="parameters" element="tns:DelURLResponse"/>
		  </wsdl:message>

		  <wsdl:message name="GetURLRequest">
		  	<wsdl:part name="parameters" element="tns:GetURL"></wsdl:part>
		  </wsdl:message>
		  <wsdl:message name="GetURLResponse">
		  	<wsdl:part name="parameters" element="tns:GetURLResponse"></wsdl:part>
		  </wsdl:message>
		  
		  		<wsdl:message name="GetClientLogListRequest">
		  	<wsdl:part name="parameters" element="tns:GetClientLogList"/>
		  </wsdl:message>
		  <wsdl:message name="GetClientLogListResponse">
		  	<wsdl:part name="parameters" element="tns:GetClientLogListResponse"/>
		  </wsdl:message>
		  <wsdl:message name="DelClientLogRequest">
		  	<wsdl:part name="parameters" element="tns:DelClientLog"/>
		  </wsdl:message>
		  <wsdl:message name="DelClientLogResponse">
		  	<wsdl:part name="parameters" element="tns:DelClientLogResponse"/>
		  </wsdl:message>

		  <wsdl:message name="GetClientLogRequest">
		  	<wsdl:part name="parameters" element="tns:GetClientLog"></wsdl:part>
		  </wsdl:message>
		  <wsdl:message name="GetClientLogResponse">
		  	<wsdl:part name="parameters" element="tns:GetClientLogResponse"></wsdl:part>
		  </wsdl:message>
		  
  <wsdl:message name="SOAPAuth">
  	<wsdl:part name="Auth" element="tns:Auth"/>
  </wsdl:message>
  
  <wsdl:portType name="ManageService">
    <wsdl:operation name="GetSysLogList">
    	<wsdl:documentation>取日志列表{pagesize,page,condition,order}</wsdl:documentation>
    	<wsdl:input message="tns:GetSysLogListRequest"/>
    	<wsdl:output message="tns:GetSysLogListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DelSysLog">
    	<wsdl:documentation>删除日志{condition}</wsdl:documentation>
    	<wsdl:input message="tns:DelSysLogRequest"/>
    	<wsdl:output message="tns:DelSysLogResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetSysLog">
    	<wsdl:documentation>取日志{SysLogID}</wsdl:documentation>
    	<wsdl:input message="tns:GetSysLogRequest"></wsdl:input>
    	<wsdl:output message="tns:GetSysLogResponse"></wsdl:output>
    </wsdl:operation>
    
    	<wsdl:operation name="GetClientLogList">
	    	<wsdl:documentation>取列表{pagesize,page,condition,order}</wsdl:documentation>
	    	<wsdl:input message="tns:GetClientLogListRequest"/>
	    	<wsdl:output message="tns:GetClientLogListResponse"/>
	    </wsdl:operation>
	    <wsdl:operation name="DelClientLog">
	    	<wsdl:documentation>删除日志{condition}</wsdl:documentation>
	    	<wsdl:input message="tns:DelClientLogRequest"/>
	    	<wsdl:output message="tns:DelClientLogResponse"/>
	    </wsdl:operation>
	    <wsdl:operation name="GetClientLog">
	    	<wsdl:documentation>取日志{ClientLogID}</wsdl:documentation>
	    	<wsdl:input message="tns:GetClientLogRequest"></wsdl:input>
	    	<wsdl:output message="tns:GetClientLogResponse"></wsdl:output>
	    </wsdl:operation>
    
    
    	<wsdl:operation name="GetURLList">
		    	<wsdl:documentation>取列表{pagesize,page,condition,order}</wsdl:documentation>
		    	<wsdl:input message="tns:GetURLListRequest"/>
		    	<wsdl:output message="tns:GetURLListResponse"/>
		    </wsdl:operation>
		    <wsdl:operation name="DelURL">
		    	<wsdl:documentation>删除日志{condition}</wsdl:documentation>
		    	<wsdl:input message="tns:DelURLRequest"/>
		    	<wsdl:output message="tns:DelURLResponse"/>
		    </wsdl:operation>
		    <wsdl:operation name="GetURL">
		    	<wsdl:documentation>取日志{URLID}</wsdl:documentation>
		    	<wsdl:input message="tns:GetURLRequest"></wsdl:input>
		    	<wsdl:output message="tns:GetURLResponse"></wsdl:output>
		    </wsdl:operation>
   
  </wsdl:portType>

  <wsdl:binding name="ManageServiceSOAP" type="tns:ManageService">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="GetSysLogList">
  		<soap:operation
  			soapAction="http://soap.dbo.so/ManageService/GetSysLogList" />
  		<wsdl:input>
  			<soap:body use="literal" />
  			<soap:header message="tns:SOAPAuth" part="Auth"
  				use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="DelSysLog">
  		<soap:operation
  			soapAction="http://soap.dbo.so/ManageService/DelSysLog" />
  		<wsdl:input>
  			<soap:body use="literal" />
  			<soap:header message="tns:SOAPAuth" part="Auth"
  				use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="GetSysLog">
  		<soap:operation
  			soapAction="http://soap.dbo.so/ManageService/GetSysLog" />
  		<wsdl:input>
  			<soap:body use="literal" />
  			<soap:header message="tns:SOAPAuth" part="Auth"
  				use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	
  	
  		<wsdl:operation name="GetURLList">
	  		<soap:operation
	  			soapAction="http://soap.dbo.so/ManageService/GetURLList" />
	  		<wsdl:input>
	  			<soap:body use="literal" />
	  			<soap:header message="tns:SOAPAuth" part="Auth"
	  				use="literal" />
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal" />
	  		</wsdl:output>
	  	</wsdl:operation>
	  	<wsdl:operation name="DelURL">
	  		<soap:operation
	  			soapAction="http://soap.dbo.so/ManageService/DelURL" />
	  		<wsdl:input>
	  			<soap:body use="literal" />
	  			<soap:header message="tns:SOAPAuth" part="Auth"
	  				use="literal" />
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal" />
	  		</wsdl:output>
	  	</wsdl:operation>
	  	<wsdl:operation name="GetURL">
	  		<soap:operation
	  			soapAction="http://soap.dbo.so/ManageService/GetURL" />
	  		<wsdl:input>
	  			<soap:body use="literal" />
	  			<soap:header message="tns:SOAPAuth" part="Auth"
	  				use="literal" />
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal" />
	  		</wsdl:output>
	  	</wsdl:operation>
	  	
	  		<wsdl:operation name="GetClientLogList">
	  		<soap:operation
	  			soapAction="http://soap.dbo.so/ManageService/GetClientLogList" />
	  		<wsdl:input>
	  			<soap:body use="literal" />
	  			<soap:header message="tns:SOAPAuth" part="Auth"
	  				use="literal" />
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal" />
	  		</wsdl:output>
	  	</wsdl:operation>
	  	<wsdl:operation name="DelClientLog">
	  		<soap:operation
	  			soapAction="http://soap.dbo.so/ManageService/DelClientLog" />
	  		<wsdl:input>
	  			<soap:body use="literal" />
	  			<soap:header message="tns:SOAPAuth" part="Auth"
	  				use="literal" />
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal" />
	  		</wsdl:output>
	  	</wsdl:operation>
	  	<wsdl:operation name="GetClientLog">
	  		<soap:operation
	  			soapAction="http://soap.dbo.so/ManageService/GetClientLog" />
	  		<wsdl:input>
	  			<soap:body use="literal" />
	  			<soap:header message="tns:SOAPAuth" part="Auth"
	  				use="literal" />
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal" />
	  		</wsdl:output>
	  	</wsdl:operation>
  	
  </wsdl:binding>

  <wsdl:service name="ManageService">
    <wsdl:port binding="tns:ManageServiceSOAP" name="ManageServiceSOAP">
      <soap:address location="http://soap.dbo.so/soap/manage"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
